a{
    text-decoration: none;
}

/* Container for the events */
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #e0d7d7c0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading for date */
.events h1 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
    margin-top: 0px;
}

.date{
    display: flex;
    justify-content: space-between;
}
/* Styling for each event */
.events ul {
    list-style: none;
    padding: 0;
}

.events li {
    margin-bottom: 19px;
    font-size: 1.1em;
    color: #555;
}

.events strong {
    font-weight: bold;
    color: #222;
}

/* Error message */
.tag-error {
    color: red;
    font-size: 1.2em;
    margin-top: 20px;
    text-align: center;
}

/* Input form styling */
.input-date form {
    margin: 20px auto;
    padding: 20px 0px 20px 50px;
    width: 80%;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

/* Labels for input fields */
.input-date label {
    font-size: 1.2em;
    font-weight: 800;
    color: #333;
    margin-bottom: 8px;
}

/* Input fields */
.input-date input[type="number"] , #submit{
    padding: 15px;
    width: 90%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1em;
    color: #333;
}

/* Submit button */
#submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    margin-left: 1%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit:hover {
    background-color: #45a049;
}

.custom_date_link{
    font-size: large;
    font-weight: 800;
    transition: font-size 0.3s ease;
    display: inline-block;
}

.custom_date_link:hover{
    font-size: 1.6rem;
}

.event-year{
    font-weight: 900;
    font-size: xx-large;
    color: rgba(92, 4, 89, 0.575);
}

/* Gradient Border Animation */
.event-year {
    padding: 10px;
    border: 4px solid transparent;
    border-radius: 8px;
    background: linear-gradient(90deg, rgb(218, 174, 174), rgb(107, 107, 226), rgb(67, 226, 67), rgb(208, 208, 141));
    background-size: 400% 100%;
    animation: gradientMove 5s linear infinite;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.more-info-links{
    font-size: small;
    font-weight: 200;
}

/*footer*/
footer {
    background-color: #f5efef;
    color: rgb(6, 35, 41);
    text-align: center;
    padding: 20px 0;
    /* position:; */
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 0;
    padding: 10px 0;
    font-size: 14px;
}

.socials {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.socials li {
    display: inline;
    margin: 0 10px;
}

.socials li a {
    color: rgb(5, 37, 41);
    text-decoration: none;
    font-size: 18px;
}

.socials li img{
    width: 25px; 
    height: auto;
}

.socials li img {
    width: 24px; 
    height: auto;
    transition: transform 0.3s ease;
}

.socials li:hover img {
    transform: scale(1.4); 
}


/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 85%;
    }
    .input-date{
        margin-left: 1%;
        width: 97%;
    }

    .input-date input[type="number"] {
        width: 80%;
    }
    .socials li {
        margin: 10px 10px;
    }
    .date{
        font-size: medium;
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }
}
